@model List<Vidly.Models.WorldCupTeam>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>World Cup Teams</h2>

@foreach(var obj in Model)
{
    <li>Team: @obj.Name, StarPlayer: @obj.StarPlayer</li>
}

